body {
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

main {
	width: 320px;
	margin: 20px auto 20px;
	padding-bottom: 20px;

	background-color: #c1d3e3;
	border-radius: 32px;
}

div {
	padding-top: 20px;
}

a {
	color: blue;
}

a:hover {
	color: red;
}

#hidden {
	display: none;
}