body {
    background-color: rgb(243, 243, 243);
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: scroll;
    text-align: center;
}

#content {
    min-height: 164px;
    background-color: white;
}

.info h2 {
    line-height: 1.5em;
    letter-spacing: normal;
    font: 2em jura,sans-serif;
    color: rgb(78, 70, 79);
}

.info p {
    line-height: normal;
    letter-spacing: normal;
    font-size: 1.5em;
    font-family: open sans,sans-serif;
    color: rgb(75, 68, 76);
    word-wrap: break-word;
}

#main {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.header-text {
    vertical-align: baseline;
    line-height: 1.5em;
    letter-spacing: normal;
}

.header-text h1 {
    font: 3em jura,sans-serif;
    font-weight: normal;
    color: rgb(78, 70, 79);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.header-text p {
    font: 1.5em jura,sans-serif;
    color: rgb(34, 27, 35);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.bubble {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.bubble h2 {
    color: rgb(78, 70, 79);
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    letter-spacing: normal;
    font: bold 1.5em jura,sans-serif;
}

.bubble p {
    line-height: 1.5em;
    font-size: 1.5em;
    color: rgb(78, 70, 79);
    padding: 0px;
    margin: 10px 0 0 0;
    font-family: open sans,sans-serif;
    letter-spacing: normal;
    word-wrap: break-word;
}

.footer {
    height: 253px;
}

.footer h2 {
    padding: 0px;
    line-height: 1.3em;
    letter-spacing: normal;
    font: bold 1.3em jura,sans-serif;
}

.footer p {
    color: rgb(78, 70, 79);
    padding: 0px;
    margin: 10px 0 0 0;
    font-family: open sans,sans-serif;
    letter-spacing: normal;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
}

.footer .cr {
    font-family: open sans,sans-serif;
    margin-top: 40px;
    padding: 0px;
    line-height: normal;
    letter-spacing: normal;
    font-size: 1.2em;
    color: rgb(75, 68, 76);
}

.button {
    height: 100px;
    background-color: rgb(78, 70, 79);
    color: white;
    display: inline-block;
    margin: 0px;
    font-size: 3em;
    line-height: 100px;
    border: 1px solid rgb(78, 70, 79);
    width: 100px;
    cursor: pointer;
    font-family: open sans,sans-serif;
}

#btn0 {
    width: 250px;
}

#counter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
    font-family: open sans,sans-serif;
    font-size: 2em;
    color: rgb(78, 70, 79);
}

#charts {
    /* width: 700px; */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#top-container {
    /* width: 140px; */
    overflow: hidden;
}

.tabs_holder {
    background: white;
    border-radius: 2px;
    box-shadow: 0px 0px 1px rgb(206, 206, 206);
    /* width: 650px;  */
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#task {
    margin: auto;
    font-size: 9em;
    text-align: center;
    font-family: open sans,sans-serif;
    color: black;
    min-height: 83px;
}

.results-table {
    text-align: center;
    width: 900px;
}

.results-table th {
    padding: 7px 8px;
    color: white;
    background-color: rgb(161, 150, 150);
    text-align: center;
}

.results-table td:first-child {
    text-align: center;
}
.results-table td {
    padding: 3px;
    border-bottom: 1px solid rgb(224, 224, 224);
    border-left: 1px solid rgb(224, 224, 224);
}

.results-table td:last-child {
    border-right: 1px solid rgb(224, 224, 224);
}

.font-fix {
    font-size: 1.5em;
}

.vk {
    float:right;
    margin-top: 15px;
}

.tw {
    float:right;
    margin-top: 15px;
    margin-right: 8px;
    clear: both;
}

.potential {
    margin: 0px;
    padding: 0px;
    line-height: 1.4em;
    letter-spacing: normal;
    font: 60px/1.4em jura,sans-serif;
    color: rgb(78, 70, 79);
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
}

.potential-wrap {
    overflow: hidden;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

h2 {
    color: rgb(78, 70, 79);
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.4em;
    letter-spacing: normal;
    font: bold 19px/1.4em jura,sans-serif;
}

.keyboard {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 443px;
}

.key-white {
    position:relative;
    background-color: white;
    width: 62px;
    height: 342px;
    float: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    z-index: 1;
    cursor: pointer;
}

.key-last {
    border-right: 1px solid black;
}

.key-lable {
    font-family: open sans,sans-serif;
    font-size: 1.7em;
    bottom: 20px;
    position:absolute;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.black {
    color: white;
    width: 38px;
}

.white {
    color: black;
    width: 62px;
}

.key-black {
    position:relative;
    background-color: black;
    width: 38px;
    height: 197px;
    margin-left: -19px;
    z-index: 2;
    cursor: pointer;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.key-scr-1 {
    background-color: rgb(255, 0, 0);
    border-color: black;
}

.key-scr-2 {
    background-color: rgb(104, 53, 255);
    border-color: black;
}

.key-scr-3 {
    background-color: rgb(255, 255, 106);
    border-color: black;
}

.key-scr-4 {
    background-color: rgb(202, 0, 202);
    border-color: black;
}

.key-scr-5 {
    background-color: rgb(213, 255, 234);
    border-color: black;
}

.key-scr-6 {
    background-color: rgb(202, 0, 35);
    border-color: black;
}

.key-scr-7 {
    background-color: rgb(106, 181, 255);
    border-color: black;
}

.key-scr-8 {
    background-color: rgb(255, 189, 53);
    border-color: black;
}

.key-scr-9 {
    background-color: rgb(191, 0, 255);
    border-color: black;
}

.key-scr-10 {
    background-color: rgb(159, 255, 159);
    border-color: black;
}

.key-scr-11 {
    background-color: rgb(149, 0, 74);
    border-color: black;
}

.key-scr-12 {
    background-color: rgb(159, 238, 255);
    border-color: black;
}

#style-control {
    line-height: 1.4em;
    font-size: 1.7em;
    color: rgb(78, 70, 79);
    margin-top: 19px;
    padding: 0px;
    font-family: open sans,sans-serif;
    letter-spacing: normal;
    word-wrap: break-word;
}

.tabs_header {
    overflow: hidden;
    margin-bottom: 10px;
    border-top: 4px solid rgb(78, 70, 79);
    padding-top: 1px;
    margin: 0px 0px 0px 1px;
    padding: 1px 0px 0px;
    list-style: none outside none;
}

.tab_selected .tab_item {
    background-color: rgb(78, 70, 79);
}

.tab_header_item {
    margin-left: 1px;
    padding-bottom: 7px;
    float: left;
    margin: 0px;
    padding: 0px;
    color: rgb(78, 70, 79);
    height: 37px;
}

.tab_selected {
    color: white;
	background: url("bg.png") no-repeat scroll center bottom transparent;
}

.tab_item {
    display: block;
    height: 30px;
    padding: 0px 20px;
    font: 19px jura,sans-serif;
    line-height: 30px;
    text-decoration: none;
    outline: 0px none;
    cursor: pointer;
    background-color: white;
}

.share {
    width: 152px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}